<!DOCTYPE html>

<html>

<head>

    <title>

    </title>

</head>

<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button">Submit</button>
        </div>
    </main>
</body>

</html>
